<%- include("inc/head") -%>

    <!-- /.card -->
    <% if(typeof error==='string' ){ %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
        <% } %>
            <% if(typeof success==='string' ){ %>
                <div class="alert alert-success">
                    <%= success %>
                </div>
                <% } %>

                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Dados do cliente</h3>
                        </div>

                        <div class="card-body">
                            <form action="/cadasterclient" method="post">
                                <div class="row">

                                    <div class="col-4 form-group">
                                        <label for="name">Nome</label>
                                        <input name="name" id="name" type="text" class="form-control"
                                            placeholder="Nome">
                                    </div>
                                    <div class="col-4 form-group">
                                        <label for="cpf">CPF</label>
                                        <input name="cpf" id="cpf" type="text" class="form-control cpf" placeholder="CPF">
                                    </div>
                                    <div class="col-4 form-group">
                                        <label for="establishment">Estabelecimento</label>
                                        <input name="establishment" id="establishment" type="text" class="form-control" placeholder="Estabelecimento">
                                    </div>
                                    <div class="card-footer form-group">
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                   



                    <%- include("inc/footer") -%>