<%- include("inc/head") -%>
      <!-- Small boxes (Stat box) -->
      <div class="row">
        
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <% cont.forEach(row=> { %>
                <h3><%= Object.values(row)%> </h3>
                <% }) %> 
              <p>Total De Funcionários</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a class="small-box-footer"><i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <% contSalary.forEach(row=> { %>
                <h3><%= parseFloat(Object.values(row)).toFixed(2)%> </h3>
                <% }) %> 
              <p>Total De Sálarios</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a  class="small-box-footer"> <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->

  <%- include("inc/footer") -%>