<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>MV CONSTRUÇÕES</title>
  <link href="index/css/bootstrap.min.css" rel="stylesheet">
  <link href="index/css/animate.min.css" rel="stylesheet">
  <link href="index/css/font-awesome.min.css" rel="stylesheet">
  <link href="index/css/lightbox.css" rel="stylesheet">
  <link href="index/css/main.css" rel="stylesheet">
  <link id="css-preset" href="index/css/presets/preset1.css" rel="stylesheet">
  <link href="index/css/responsive.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <link href="chat.css" rel="stylesheet">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
  


  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="index/images/icone.png">
</head>
<!--/head-->

<body>

  <div class="chatBot">
    <button class="chat-btn">
        <i class="material-icons"> comment </i>
    </button>

    <div class="chat-popup">
        <div class="chat-area">
            <div class="income-msg">
                <span class="msg"> Oi meu nome é Yuumi, como posso ajudar?</span>
            </div>

        </div>

        <div style="margin-top: 25px;" class="input-area">
            <input id="inputChat" type="text">
            <button id="buttonSend" onclick="mensagem()" class="submit"> <i class="material-icons">
                    send</i></button>
        </div>
    </div>
  </div>

  <!--.preloader-->
  <div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
  <!--/.preloader-->
  <header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">

      <% if(typeof error==='string' ){ %>
        <div class="alert alert-danger">
          <%= error %>
        </div>
        <% } %>
          <% if(typeof success==='string' ){ %>
            <div class="alert alert-success">
              <%= success %>
            </div>
            <% } %>

              <div class="carousel-inner">
                <div class="item active" style="background-image: url(index/images/slider/1.jpg)">
                  <div class="caption">
                    <h1 class="animated fadeInLeftBig"><span>MV CONSTRUÇÕES</span></h1>
                    <p class="animated fadeInRightBig">Bases de silos - Armazéns - Moegas - Estruturas Metálicas</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saiba Mais</a>
                  </div>
                </div>
                <div class="item" style="background-image: url(index/images/slider/2.jpg)">
                  <div class="caption">
                    <h1 class="animated fadeInLeftBig"><span>MV CONSTRUÇÕES</span></h1>
                    <p class="animated fadeInRightBig">SATISFAÇÃO A CADA METRO QUADRADO</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saiba Mais</a>
                  </div>
                </div>
                <div class="item" style="background-image: url(index/images/slider/1.jpg)">
                  <div class="caption">
                    <h1 class="animated fadeInLeftBig"><span>MV CONSTRUÇÕES</span></h1>
                    <p class="animated fadeInRightBig">PRESENTE EM TODO CENTRO-OESTE</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="#services">Saiba Mais</a>
                  </div>
                </div>
              </div>
              <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
              <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

              <a id="tohash" href="#services"><i class="fa fa-angle-down"></i></a>

    </div>
    <!--/#home-slider-->
    <div class="main-nav">
      <div class="container">
        <div class="navbar-header">
          <button id="buttonMenu" type="button" class="navbar-toggle" data-toggle="collapse"
            data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <h1><img class="img-responsive" src="index/images/logo.png" alt="logo"></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="scroll active"><a onclick="menu()" href="#home">Home</a></li>
            <li class="scroll"><a onclick="menu()" href="#services">Serviços</a></li>
            <li class="scroll"><a onclick="menu()" href="#about-us">Sobre Nós</a></li>
            <li class="scroll"><a id="refresh" onclick="menu()" href="#portfolio">Portfolio</a></li>
            <li class="scroll"><a onclick="menu()" href="#contact">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--/#main-nav-->
  </header>


  <!--/#home-->
  <section id="services">
    <div class="container">
      <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
        <div class="row">
          <div class="text-center col-sm-8 col-sm-offset-2">
            <h2>Nossos Serviços</h2>
          </div>
        </div>
      </div>
      <div class="text-center our-services">
        <div class="row">
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="service-icon">
              <i class="fa fa-bullseye"></i>
            </div>
            <div class="service-info">
              <h3>BASES DE SILOS</h3>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
            <div class="service-icon">
              <img class="icon-export" src="index/icon/armazem.png">
            </div>
            <div class="service-info">
              <h3>ARMAZÉNS</h3>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="550ms">
            <div class="service-icon">
              <img class="icon-export" src="index/icon/moega.png">
            </div>
            <div class="service-info">
              <h3>MOEGAS</h3>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="650ms">
            <div class="service-icon">
              <img class="icon-export" src="index/icon/metal.png">
            </div>
            <div class="service-info">
              <h3>ESTRUTURAS METÁLICAS</h3>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="750ms">
            <div class="service-icon">
              <i class="fa fa-bolt"></i>
            </div>
            <div class="service-info">
              <h3>INSTALAÇÕES ELÉTRICAS</h3>
            </div>
          </div>
          <div class="col-sm-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="850ms">
            <div class="service-icon">
              <i class="fa fa-circle"></i>
            </div>
            <div class="service-info">
              <h3>BASES DE SECADORES</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#services-->


  <section id="about-us" class="parallax">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
            <h2>Sobre Nós</h2>
            <p>A MV CONSTRUÇÕES oferece soluções diferenciadas no mercado da construção civil, buscando a
              satisfação de seus clientes e colaboradores fornecendo produtos e serviços de mão de obra com qualidade e
              segurança.</p>
            <p>Executamos todos os tipos de bases de silos em concreto armado, fundo plano, elevados, totalmente
              perfurados, fundo cônico, moegas de grãos, armazéns e estruturas metálicas.</p>
            <p>Nossos maiores valores são: agilidade, comprometimento, credibilidade, flexibilidade, qualidade e preço
              justo.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
              <p class="lead">Agilidade</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                  aria-valuetransitiongoal="100">100%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
              <p class="lead">Credibilidade</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                  aria-valuetransitiongoal="100">100%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
              <p class="lead">Qualidade</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                  aria-valuetransitiongoal="100">100%</div>
              </div>
            </div>
            <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
              <p class="lead">Comprometimento</p>
              <div class="progress">
                <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar"
                  aria-valuetransitiongoal="100">100%</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#about-us-->

  <!-- The Modal -->
  <div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="close"></span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="img01">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
  </div>

  <section id="portfolio" style="padding-bottom: 30px;">
    <div class="container">
      <div class="row">
        <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms"
          data-wow-delay="300ms">
          <h2>Nosso Portfolio</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
            <div class="folio-image">
              <img class="imageModal" id="img1" class="img-responsive" src="index/images/portfolio/1.jpg"
                alt="Moega de Grãos">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="400ms">
            <div class="folio-image">
              <img style="cursor: pointer;" onclick="modalImg()" class="imageModal" id="img2" class="img-responsive"
                src="index/images/portfolio/2.jpg" alt="Base de Silo Armazenador">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="500ms">
            <div class="folio-image">
              <img class="imageModal" id="img3" class="img-responsive" src="index/images/portfolio/3.jpg"
                alt="Terraplanagem">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="folio-image">
              <img class="imageModal" id="img4" class="img-responsive" src="index/images/portfolio/4.jpg"
                alt="Base de Secador">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="700ms">
            <div class="folio-image">
              <img class="imageModal" id="img5" class="img-responsive" src="index/images/portfolio/5.jpg"
                alt="Base de Secador">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="800ms">
            <div class="folio-image">
              <img class="imageModal" id="img6" class="img-responsive" src="index/images/portfolio/6.jpg"
                alt="Base de Tombador">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="900ms">
            <div class="folio-image">
              <img class="imageModal" id="img7" class="img-responsive" src="index/images/portfolio/7.jpg"
                alt="Balança Rodoviária">
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div id="testnice" class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="1000ms">
            <div class="folio-image">
              <img class="imageModal" id="img8" class="img-responsive" src="index/images/portfolio/8.jpg"
                alt="Túnel da Moega de Grãos">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="portfolio-single-wrap">
      <div id="portfolio-single">
      </div>
    </div><!-- /#portfolio-single-wrap -->
  </section>
  <!--/#portfolio-->

  <div style="text-align: center;" class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="700ms">
    <button onclick="refresh()" href="#portfolio" style="border-radius: 10px; outline: none;" type="button"
      class="btn btn-primary btn-lg">Ver Mais Fotos <i class="fa fa-refresh"></i></button>
  </div>

  <section id="features" class="parallax">
    <div class="container">
      <div class="row count">
        <div class="col-sm-3 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
          <i class="fa fa-user"></i>
          <p>CLIENTE SATISFEITO</p>
        </div>
        <div class="col-sm-3 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
          <i class="fa fa-desktop"></i>
          <p>MODERNIDADE</p>
        </div>
        <div class="col-sm-3 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
          <i class="fa fa-trophy"></i>
          <p>QUALIDADE</p>
        </div>
        <div class="col-sm-3 col-xs-12 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
          <i class="fa fa-comment-o"></i>
          <p>SUPORTE</p>
        </div>
      </div>
    </div>
  </section>
  <!--/#features-->

  <section id="contact">
    <div id="contact-us" class="parallax">
      <div class="container">
        <div class="row">
          <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms"
            data-wow-delay="300ms">
            <h2>Contato</h2>
            <p>Digite suas informações e clique no botão de "enviar" e entraremos em contato o mais breve possível</p>
          </div>
        </div>


        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
          <div class="row">
            <div class="col-sm-6">
              <form name="contact-form" method="post" action="/">
                <div class="row  wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Nome" required="required">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <input type="email" name="email" class="form-control" placeholder="Seu E-mail"
                        required="required">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" name="subject" class="form-control" placeholder="Assunto" required="required">
                </div>
                <div class="form-group">
                  <textarea name="message" id="message" class="form-control" rows="4" placeholder="Digite sua mensagem"
                    required="required"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn-submit">Enviar</button>
                </div>
              </form>
            </div>



            <div class="col-sm-6">
              <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <ul class="address">
                  <li><i class="fa fa-map-marker"></i> <span> Endereço:</span> Rua Leonel Velasco, 15 - Res. Oliveira.
                    Campo Grande MS</li>
                  <li><i class="fa fa-phone"></i> <span> Telefone:</span> (67) 99960-2168</li>
                  <li><i class="fa fa-envelope"></i> <span> Email:</span> mvconstrucoesms@gmail.com</a></li>
                  <li><i class="fa fa-globe"></i> <span> Website:</span> <a href="#">www.mvconstrucoesms.com.br</a></li>
                </ul>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>


  <!--/#contact-->
  <footer id="footer">
    <div class="footer-top wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
      <div class="container text-center">
        <div class="footer-logo">
          <a href="/"><img class="img-responsive" src="index/images/logo.png" alt=""></a>
        </div>
        <div class="social-icons">
          <ul>

            <li><a class="facebook" href="https://www.instagram.com/mvconstrucoesms/" target="_blank"><i
                  class="fa fa-instagram"></i></a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>&copy; 2021 MV CONSTRUÇÕES.</p>
          </div>
          <div class="col-sm-6">
            <p class="pull-right">Leonardo Vilela</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  

  <script type="text/javascript" src="index/js/jquery.js"></script>
  <script type="text/javascript" src="index/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="index/js/jquery.inview.min.js"></script>
  <script type="text/javascript" src="index/js/wow.min.js"></script>
  <script type="text/javascript" src="index/js/mousescroll.js"></script>
  <script type="text/javascript" src="index/js/smoothscroll.js"></script>
  <script type="text/javascript" src="index/js/jquery.countTo.js"></script>
  <script type="text/javascript" src="index/js/lightbox.min.js"></script>
  <script type="text/javascript" src="index/js/main.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/@joeattardi/emoji-button@3.1.1/dist/index.min.js"></script>
  <script src="main.js"></script>

  <script>
      if(location.origin == 'https://mvconstrucoesms.com.br'){
        location.replace("https://www.mvconstrucoesms.com.br")
      }
      
      document.getElementById("inputChat")
          .addEventListener("keyup", function (event) {
              event.preventDefault();
              if (event.keyCode === 13) {
                  document.getElementById("buttonSend").click();
              }
          });

      function mensagem() {   

          let userInput = inputElm.value;


          let temp = `<div class="out-msg">
              <span class="my-msg">${userInput}</span>
              </div>`;

          chatArea.insertAdjacentHTML("beforeend", temp);
          inputElm.value = '';

          //var list = document.getElementsByClassName("my-msg");
          //var mensagem = list[list.length - 1].innerHTML


          //console.log(mensagem)

          var settings = {
              "url": "https://optimum-door-330000.rj.r.appspot.com/" + userInput,
              "method": "POST",
              "timeout": 0,
          };

          $.ajax(settings).done(function (response) {

              let resposta = `<div class="income-msg">
              <span class="msg">${response.resposta}</span>
              </div>`;

              chatArea.insertAdjacentHTML("beforeend", resposta);
              inputElm.value = '';

              $(".chat-area").scrollTop($(".chat-area")[0].scrollHeight);

          });





      }


  </script>

  <script>
    cont = 1
    condition = true
    var modal = document.getElementById("myModal");
    var captionText = document.getElementById("caption");
    var modalImg = document.getElementById("img01");

    var img1 = document.getElementById("img1");
    var img2 = document.getElementById("img2");
    var img3 = document.getElementById("img3");
    var img4 = document.getElementById("img4");
    var img5 = document.getElementById("img5");
    var img6 = document.getElementById("img6");
    var img7 = document.getElementById("img7");
    var img8 = document.getElementById("img8");

    img1.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img2.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img3.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img4.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img5.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img6.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img7.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    img8.onclick = function () {
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
      modal.style.display = "none";
    }
    modal.onclick = function () {
      modal.style.display = "none";
    }

    function menu() {
      if (condition != false) {
        var largura_tela = $(window).width();
        if (largura_tela < 760) {
          document.getElementById('buttonMenu').click()
        };
      }
    }

    function refresh() {
      new WOW().init();
      var click = 0
      var largura_tela = $(window).width();
      if (largura_tela < 760) {
        click = 700
      }

      setTimeout(function () {
        if (cont == 3) {
          cont = 0
        }
        if (cont == 0) {
          cont++
          document.getElementById("img1").src = "index/images/portfolio/1.jpg";
          document.getElementById("img1").alt = "Moega de Grãos";
          document.getElementById("img2").src = "index/images/portfolio/2.jpg";
          document.getElementById("img2").alt = "Base de Silo Armazenador";
          document.getElementById("img3").src = "index/images/portfolio/3.jpg";
          document.getElementById("img3").alt = "Terraplanagem";
          document.getElementById("img4").src = "index/images/portfolio/4.jpg";
          document.getElementById("img4").alt = "Base de Secador";
          document.getElementById("img5").src = "index/images/portfolio/5.jpg";
          document.getElementById("img5").alt = "Base de Secador";
          document.getElementById("img6").src = "index/images/portfolio/6.jpg";
          document.getElementById("img6").alt = "Base de Tombador";
          document.getElementById("img7").src = "index/images/portfolio/7.jpg";
          document.getElementById("img7").alt = "Balança Rodoviária";
          document.getElementById("img8").src = "index/images/portfolio/8.jpg";
          document.getElementById("img8").alt = "Túnel da Moega de Grãos";
        } else if (cont == 1) {
          cont++
          document.getElementById("img1").src = "index/images/portfolio/9.jpg";
          document.getElementById("img1").alt = "Moega de Grãos";
          document.getElementById("img2").src = "index/images/portfolio/10.jpg";
          document.getElementById("img2").alt = "";
          document.getElementById("img3").src = "index/images/portfolio/11.jpg";
          document.getElementById("img3").alt = "Silos";
          document.getElementById("img4").src = "index/images/portfolio/12.jpg";
          document.getElementById("img4").alt = "Moega de grãos em fase de construção";
          document.getElementById("img5").src = "index/images/portfolio/13.jpg";
          document.getElementById("img5").alt = "Moega de Grãos";
          document.getElementById("img6").src = "index/images/portfolio/14.jpg";
          document.getElementById("img6").alt = "Base de silo em fase de concretagem";
          document.getElementById("img7").src = "index/images/portfolio/15.jpg";
          document.getElementById("img7").alt = "Base para máquina de pré-limpeza";
          document.getElementById("img8").src = "index/images/portfolio/16.jpg";
          document.getElementById("img8").alt = "Base de silo expedição";
        } else if (cont == 2) {
          cont++
          document.getElementById("img1").src = "index/images/portfolio/17.jpg";
          document.getElementById("img1").alt = "";
          document.getElementById("img2").src = "index/images/portfolio/18.jpg";
          document.getElementById("img2").alt = "Base de balança rodoviária";
          document.getElementById("img3").src = "index/images/portfolio/19.jpg";
          document.getElementById("img3").alt = "Armadura para poço de elevador";
          document.getElementById("img4").src = "index/images/portfolio/20.jpg";
          document.getElementById("img4").alt = "";
          document.getElementById("img5").src = "index/images/portfolio/21.jpg";
          document.getElementById("img5").alt = "Estrutura em concreto armado para moega de grãos";
          document.getElementById("img6").src = "index/images/portfolio/22.jpg";
          document.getElementById("img6").alt = "Pilares para apoio de cobertura";
          document.getElementById("img7").src = "index/images/portfolio/23.jpg";
          document.getElementById("img7").alt = "Base de silo armazenador";
          document.getElementById("img8").src = "index/images/portfolio/24.jpg";
          document.getElementById("img8").alt = "Fundação do tipo estacas pré-moldadas.";
        }
      }, 1);
      setTimeout(function () {
        condition = false
        refreshButton = document.getElementById('refresh')
        refreshButton.click()
        condition = true
      }, click);
    }
  </script>

</body>

</html>